

{% extends 'users/base.html' %}


{% block head_title %}profile update{% endblock head_title %}

{% block content %}

<h1>update profile</h1>

<form action="" method="post" enctype="multipart/form-data">

    {% csrf_token %}



<br>

{{ form.username.label_tag }}

<input type="text" name = "username" id="id_username" value = '{{ form.username.value|default:""}}'>

{% if form.username.errors %}

<p>{{ form.username.errors }}</p>

{% endif %}


<br>

{{ form.about.label_tag }}

<input type="text" name="about" id="id_about" value = '{{ form.about.value|default:""}}'>

{% if form.about.errors %}

<p>{{ form.about.errors }}</p>

{% endif %}


<br>

{{ form.photo.label_tag }}

<input type="file" name="photo" id="id_photo" value = '{{ form.photo.value|default:""}}'>

{% if form.photo.errors %}

<p>{{ form.photo.errors }}</p>

{% endif %}


<button type="submit">update profile</button>


</form>


{% endblock content %}