{% extends 'users/base.html' %}


{% block head_title %} Password change {% endblock head_title %}

{% block content %}

<!-- <h1>Enter new password</h1>-->



<form action="" method="post">

    {% csrf_token %}



    {{ form.old_password.label_tag}}
   
    <input type="password" name = "old_password" id="id_old_password" value='{{ form.old_password.value|default:""}}'>

    {% if form.old_password.errors %}

    <p> {{ form.old_password.errors}} </p>

    {% endif %}

    <br>

    {{ form.new_password1.label_tag  }}

    <input type="password" name = "new_password1" id="id_new_password1" value='{{ form.new_password1.value|default:""}}'>

    {% if form.new_password1.errors %}

    <p> {{ form.new_password1.errors}} </p>

    {% endif %}

    <br>
    {{ form.new_password2.label_tag  }}

    <input type="password" name = "new_password2" id="id_new_password2" value='{{ form.new_password2.value|default:""}}'>

    {% if form.new_password2.errors %}

    <p> {{ form.new_password2.errors}} </p>

    {% endif %}

 <button type="submit"> change password </button>


</form>



{% endblock content %}


