

{% extends 'users/base.html' %}


{% block head_title %}Sign up{% endblock head_title %}

{% block content %}

<h1>sign up</h1>

<form action="" method="post">

    {% csrf_token %}

{{ form.email.label_tag }}

<input type="email" name = "email" id="id_email" value = '{{ form.email.value|default:""}}'>

{% if form.email.errors %}

<p>{{ form.email.errors }}</p>

{% endif %}

<br>

{{ form.username.label_tag }}

<input type="text" name = "username" id="id_username" value = '{{ form.username.value|default:""}}'>

{% if form.username.errors %}

<p>{{ form.username.errors }}</p>

{% endif %}


<br>

{{ form.password1.label_tag }}

<input type="password" name="password1" id="id_password1" value = '{{ form.password1.value|default:""}}'>

{% if form.password1.errors %}

<p>{{ form.password1.errors }}</p>

{% endif %}


<br>

{{ form.password2.label_tag }}

<input type="password" name="password2" id="id_password2" value = '{{ form.password2.value|default:""}}'>

{% if form.password2.errors %}

<p>{{ form.password2.errors }}</p>

{% endif %}


<button type="submit">Login</button>


</form>


{% endblock content %}